<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627535345823-h4f2hgth4qdkoen01qa1dtsmtpj6j2v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627535345823-h4f2hgth4qdkoen01qa1dtsmtpj6j2v4</string>
	<key>API_KEY</key>
	<string>AIzaSyAdcXB6N5WYfeFuxyJSrko45YxRfHpnVps</string>
	<key>GCM_SENDER_ID</key>
	<string>627535345823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f40f3</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f40f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627535345823:ios:6efb427afcfb124d0acaaa</string>
</dict>
</plist>